@using MovieRateMVC.Models.Movies
@model DeleteMovieModel

@{
    ViewData["Title"] = "Delete movie";
}

<h2 class="text-center">Are you sure you want to delete the movie "@Model.Title"</h2>

<div class="text-center mt-5">
    <form asp-controller="Movies" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Cancel</a>
    <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>